[2011-06-15 14:24] toastwaffle opened #4 "dstat --net reading very very high network speeds"
<code><pre>
samuel@samuel-Lenovo-B560:~$ dstat --net
-net/total-
 recv  send
   0     0
  12G   12G
8192M 8192M
4096M 4096M
  12G   12G
8192M 8192M
4096M 4096M
  16G   16G
8192M 8192M
4096M 4096M
  12G   12G
8192M 8192M
4096M 4096M
  12G   12G
8192M 8192M
4096M 4096M
  12G   12G
  12G   12G
4096M 4096M
4096M 4096M
  12G   12G
</pre></code>

Unfortunately, I'm definitely not getting 12GiB/s over Wi

[2011-06-21 21:11] #4 closed, assigned to nobody

[2012-01-06 15:05] eccles opened #9 "overflow when more than ~8 cores in -C option"
I have a 12 core machine and want to look at all 12 cores individually during a (very) long run of a job. the problem is that when I try to specify -C 0,1,2,3,4,5,6,7,8 or more  I get a traceback and error report.
#### CORRECT:

[code]
#### CORRECT but I get no output:

[code]
#### Try outputting to a file and get error:

[code]

[2012-01-10 10:28] eccles opened #10 "nfs3 plugin is incorrect"
The nfs3 plugin calculates a 'readdir' statistic which is the sum of fields 17 and 18 in /proc/net/rpc/nfs. However comparing the contents of this file with the output of the 'nfsstat' command shows that 'readdir' should be fields 18+19. Also the 'filesystem value should be fields 20+21+22 (not 19+20+21) and the 'commit'' value should be field 23 and not 22

[code]

[2012-01-10 18:39] #9 closed, assigned to dagwieers

[2012-01-16 16:21] eliasp opened #11 "Process parsing of plugin 'top-oom' is incorrect"
When 'chrome' (Google Chrome or Google Chromium) is the top-oom process, the output looks like this:

[code]

This happens very likely due to the parsing of the process list in the top-oom plugin, which probably uses a regex or split matching on a `/`.

The process list entry of a running Chrome/Chromium looks like this:

[code]

[2012-01-31 14:03] dagwieers opened #12 "Enable monitoring of other counters in /proc/interrupts"
It would be nice to be able to monitor eg. NMIs or TLBs

[code]

[2012-02-21 11:32] eccles opened #15 "new top-io-adv does not work with csv output"
I upgraded my rhel5 machione with the latest version from dstat-0.7.2-1.el5.rfx.noarch.rpm. I have tried the new 'top' options. Out of all the top otions this command (top-io-adv) fails:
[root@xxxxxxxxx ~]# /usr/bin/dstat --noheaders --nocolor -t --top-io-adv --output /tmp/collect_stats/dstat6_test 1
Traceback (most recent call last):
  File "/usr/bin/dstat", line 2554, in ?
    main()
  File "/us

[2012-02-21 11:42] eccles opened #16 "New top options give scrambled csv output"
I am trying out the ne top options. The csv output is horribly scrambled:
Fo example:
[root@xxxxxxxxxxxx ~]# rm /tmp/collect_stats/dstat6_test
rm: remove regular file `/tmp/collect_stats/dstat6_test'? y
[root@xxxxxxxxxxxx~]# /usr/bin/dstat --noheaders --nocolor -t --top-bio --top-cpu-adv --top-oom --output /tmp/collect_stats/dstat6_test 1
----system---- ----most-expensive---- -------most-expensive

[2012-02-21 16:12] eccles opened #17 "V0.72 - nfs3-ops module fails to load"
I installed dstat-0.7.2-1.el5.rfx.noarch.rpm. (rhel5)

Now the nfs3-ops module does not run:

[root@xxxxxxxxxxxxxx ~]# dstat  --nfs3-ops
Module %s is still experimental.
Module dstat_nfs3_ops failed to load. (unsupported operand type(s) for %: 'NoneType' and 'str')
None of the stats you selected are available.

[2012-02-23 09:17] eugenio opened #18 "dstat --thermal fails but acpi support is present"
As from title dstat --thermal fails to run with message "Module dstat_thermal failed to load. (Needs kernel ACPI or IBM-ACPI support)." but as i say in title acpi support is present and working because I run dstat --battery (wich I read requires acpi too) and it worked just fine. My machine is an asus n35sv with 2nd gen sandy bridge running ubuntu 11.10 with all latest updates and kernel. Let me k

[2012-03-12 21:45] #11 closed, assigned to nobody

[2012-03-12 21:49] #17 closed, assigned to dagwieers

[2012-03-20 08:05] bytesplit opened #20 "OpenVZ plugins not working"
I'm on a Centos 5.8 host running OpenVZ and just stumbled over the available plugins for monitoring vz's. Playing with them I had no luck in succcessfully getting any output. All I get are these traces, but my python knowledge doesn't bring me that far.

[root@ned dstat]# dstat --vz-cpu
Module dstat_vz_cpu is still experimental.
Traceback (most recent call last):
  File "/usr/bin/dstat", line 2554

[2012-03-28 18:06] sdguero opened #22 "Dstat crashes when outputting to .csv"
Thanks for the great tool! Thought I should report this since dstat has been so handy the last year or so...

I get the following error when trying to output to .csv:
[root@dar_server]# dstat -tv --output dar.out
Traceback (most recent call last):
  File "/usr/bin/dstat", line 2665, in ?
    main()
  File "/usr/bin/dstat", line 2526, in main
    scheduler.run()
  File "/usr/lib/python2.4/sched.py"

[2012-06-08 02:33] svenstaro opened #24 "Use non-deprecated paths for battery stuff"
--battery and --power fail due to "Module dstat_power failed to load. ([Errno 2] No such file or directory: '/proc/acpi/battery/')" which sucks since this dir is /sys/class/power_supply/BAT1 in modern Linux systems.

[2012-06-28 07:21] archmind opened #25 "Incorrect run/blk number in procs when output to csv file"
With -p option, the run and blk columns under procs section seem to have proc_running/proc_blocked divided by the delay parameter when output to csv file.

[2012-08-02 10:16] valgog opened #26 "total disk data include virtual lvm device data (so doubling the calculated values)"
When displaying total disk R/W data, the data for virtual lvm devices (dm-\d+) is included into the sum.

This leads to the display of doubled R/W performance.

Here is the output of the `iostat 1`:

[code]

and the outpu of `dstat -d --disk-util`:

[code]

[2012-10-18 01:27] syohex opened #29 "or"

[2012-10-18 01:27] #29 closed, assigned to nobody

[2012-11-18 06:59] peddanet opened #31 "dstat --net shows continously very high wifi speed values, especially when there is no traffic!"
[code]

[code]

In case of traffic it seems to work correctly (here downloading image at ubuntu.com):

[code]

I know this issue has been discussed a while ago but it seems to be reoccuring...Any ideas?

[2013-01-03 20:25] wting opened #38 "Reverse colors between green and red?"
I prefer green for low usage / idle, and red for high usage which is the opposite of the current behavior (e.g. cpu usage, cpu frequency, disk throughput). Is it possible to switch color behavior?

[2013-02-24 15:57] jan-matejka opened #39 "--top-int doesn't work"
[code]

0.7.2-r1 on gentoo.
also https://bugs.launchpad.net/ubuntu/+source/dstat/+bug/910038

[2013-04-07 04:29] kumar303 opened #42 "wifi stats are ignored on raspberry pi"
Hello.
I'd like to use ``--wifi`` on a raspberry pi with a [tenda N150 dongle](https://www.modmypi.com/tenda-wireless-n150-usb-network-adapter) but the values are always:

[code]
I went into the source and removed the ``qual.noiselevel == -256`` check from this line of the dstat_wifi plugin:
[code]
to read:
[code]
and it begun to show my link and signal levels as expected.

Why is a noise level of

[2013-04-11 08:28] do11 opened #43 "mysql5 plugins not working properly (not showing rates)"
You have included some mysql plugins from lefred@inuits.be (this e-mail address is dead) into the Dstat 0.7.2 distribution, but in fact they are flawed and useless. For example dstat_mysql5_cmds.py doesn't show rate value of its variables (for example sel/Com_select), but show three major digits stripped of counter absolute value. For example:

[root@db dstat]# dstat --mysql5-cmds
------mysql5-cmd

[2013-04-12 19:49] do11 opened #44 "--gpfs doesn't work"
JFI, by default gpfs plugin doesn't work:

[code]

To fix I modify main dstat source:

[code]

Warnings thing is optional just to hide warning, but _include select_ is actually to make gpfs plugin(s) work. Otherwise _readpipe()_ doesn't work.

[2013-04-25 18:15] nullivex opened #47 "Intel 82580 Stats every other second"
Hello,

I have been searching around for a while on this and havent found anyone else reporting it which is strange.

With certain NIC's and most definitely Intel 82580 it reports stats every other second and then it seems these are a total of the last 2 seconds.

I have attached a screenshot of the issue.

![567038666aebc579d1fa8d781444e8038394c513](https://f.cloud.github.com/assets/2321375/42682

[2013-04-26 16:13] #47 closed, assigned to nobody

[2013-05-28 17:15] #44 closed, assigned to nobody

[2013-07-23 00:43] djeikyb opened #52 "Extra line breaks when using `--top-bio --top-io`"
It frequently happens that a line has extra breaks. Specifically, it only seems to happen happen when I add these two columns: `dstat --top-bio --top-io` provokes the error. Also, the header frequently disappears for as many line scrolls as extra newlines. Please let me know if you need more information.
# screenshot

![dstatbork](https://f.cloud.github.com/assets/794743/838978/53fa1a30-f330-11e2-

[2013-08-06 23:49] do11 opened #53 "Two or one column per cpu stat"
Modern server frequently have many CPUs so detailed output of dstat for cpu become very long and don't fit into the screen, being that it gets "trimmed" i.e. deleted.

I request feature to make shorter all-cpu output, which should show only cpu load per cpu. So instead of 7 columns per cpu 'usr sys idl wai hiq siq stl' it will be just one, which should be sum of (usr sys wai hiq siq stl) or just (

[2013-09-13 17:26] svenstaro opened #54 "Please take care of the project!"
I really like dstat and you seem to be neglecting it quite a bit. If you don't want to handle the maintenance, give someone else rights to merge stuff. There are quite a few bug reports and pull requests. If you don't take care of them, people might fork it to dstat-ng at some point.

[2013-09-13 20:30] #54 closed, assigned to nobody

[2013-09-13 20:34] #24 closed, assigned to nobody

[2013-09-29 16:31] svenstaro opened #55 "Make a new release"
Currently distros are still using the version 0.7.2 from 2012. I think a new release should be considered.

[2013-11-07 06:30] jmiserez opened #56 "First line of dstat output for CPU usage (and others) is always wrong"
The first line of dstat output always has wrong values for CPU usage (and others). While this is okay for interactive use, it is not practical for use with the --noupdate option (if I just want 1 line):

With default settings, interactively ("top" says my CPU is really ~88% all the time, this is a database server under load):
[code]

I am running a database server and have a script calls dstat wit

[2013-11-26 08:18] mingqi opened #57 "Why we need hz (jiffy) in the formula of disk-util"
I'm reading disk-util codes and get confuse about the disk utilization:
[code]
according to /proc/diskstat document, (https://www.kernel.org/doc/Documentation/iostats.txt), the ```io_ms = (self.set2[name]['tot_ticks'] - self.set1[name]['tot_ticks'])``` should be the milliseconds CPU time spend on IO on last period. and the ```elapsed``` is the elapsed CPU second time on last period. So I think the

[2013-11-26 11:51] #25 closed, assigned to dagwieers

[2013-11-26 11:57] #22 closed, assigned to dagwieers

[2013-11-26 20:03] #31 closed, assigned to dagwieers

[2013-11-26 22:07] #38 closed, assigned to dagwieers

[2013-11-26 22:23] #15 closed, assigned to dagwieers

[2013-11-26 22:24] #16 closed, assigned to dagwieers

[2013-11-27 08:23] #39 closed, assigned to dagwieers

[2013-11-29 18:13] dagwieers opened #59 "Should Dstat CSV output actually be semicolon or comma separated ?"
Currently we use a comma as separator for the CSV output, and when implementing I thought that made most sense. However a semicolon is less common to be used inside the output/string as a comma.

Besides a comma is used in Europa as a radix point, rather than the dot. And therefore the default separator used by Excel/LibreOffice is configured to be a semicolon.

What do you think ?

Changing might

[2013-11-29 21:04] #26 closed, assigned to dagwieers

[2013-12-02 19:32] #43 closed, assigned to nobody

[2013-12-03 22:45] #52 closed, assigned to dagwieers

[2013-12-07 10:45] log69 opened #61 "Negative values for disk read and write values in log file"
Command:

dstat -cmdn --output logfile.txt 60

Problem:

Negative numbers appeared in the read and write columns of the disk stat.

Expected result:

Never give negative values.

The log file:
https://gist.github.com/log69/7839547

Negative values are at line 789 and 807 in the disk read and write columns.

Another problem is that dstat reprints the headers from time to time in the log file, no ma

[2013-12-11 22:36] kaefert opened #62 "multiple swap-partitions share a single heading that doesn't resize"
I'm using Dstat 0.7.2 included in Linux Mint 16 (~ Ubuntu 13.10)
Kernel 3.11.0-12-generic
Python 2.7.5+ (default, Sep 19 2013, 13:48:49)
[GCC 4.8.1]

The "----swap---" heading is only printed once, even though I have two swap partitions mounted, which both do get stats printed. This causes the headings to be misaligned.

[code]

[2014-01-18 17:08] Rogier-5 opened #67 "--nocolor implies --noheaders"
Hi,

I just learnt about and installed dstat, and it promises to be a permanent addition to my toolset. Thanks.

While experimenting, I noticed that the option --nocolor also enables --noheaders. However, while I prefer not having any colors, I still want to run it in a terminal, and so, not having a line of headers on the screen after dstat has been running for some time is quite inconvenient.

C

[2014-01-18 17:18] Rogier-5 opened #68 "Output from --snooze is unreadable with color output"
When I use the option --snooze, nothing is displayed in the snooze column.

From what I can see, it seems that dstat gets the colors wrong: when using a display interval larger than 1, the intermediate values are displayed, but the final one isn't. Also, when running dstat in a script session, the script log file does show the values.
When I run dstat with --nocolor, the values are displayed corre

[2014-01-21 18:35] kislyuk opened #69 "mstat.py doesn't work"
`dstat/examples/mstat.py` doesn't work.

[code]

Also, the module shouldn't do stuff like print "You did not select any stats, using -cdngy by default." on import.

[2014-01-25 11:07] thinrope opened #70 "RFE: Add asyncronous output, e.g. on SIGUSR1 to --output and screen"
I often use dstat to watch performance on several sequential tasks (e.g. shell script). It will be great if instead of default time to update counters, there is update-on-request e.g. on SIGUSR1.

Right now I can manually do it by starting dstat with a very log update interval and press Enter when the other task finishes, but haven't seen a way to automate that and cannot use --output. In other wo

[2014-02-05 15:07] #59 closed, assigned to nobody

[2014-02-05 22:29] #68 closed, assigned to nobody

[2014-02-05 22:52] #67 closed, assigned to nobody

[2014-04-26 13:40] andriokha opened #73 "Incorrect column headings in CSV file if showing memory"
Hi,

Many thanks for dstat, I've found it very useful for ad-hoc monitoring. I've been struggling with what seemed like weird results, and I think I've found the problem.

[code]

stdout:

[code]

out.csv

[code]

Note that although there are only 6 header fields, there are 9 fields of raw data. Taking a quick look at `dstat_mem`

[code]

it seems that the CSV gets every variable defined (7 of the

[2014-05-24 19:16] dotysan opened #74 "cpufreq plugin fails when scaling_driver is intel_pstate"
[code]

It appears to work if I edit dstat_cpufreq.py and change scaling_cur_freq to cpuinfo_cur_freq although I'm not clear on the wisdom in that.

[code]

[2014-08-21 08:54] leafonsword opened #80 "Could dstat add swap in/out feature?"
vmstat's swap in/out feature is very helpful in IO hang situation,could dstat also add this feature?

[2014-12-01 14:29] muyiibidun opened #85 "dstat --output breaks."
**This used to work before. But suddenly, it started throwing the IndexError as shown below. This happened on a Xen VM running Ubuntu **

Traceback (most recent call last):
  File "/usr/bin/dstat", line 2554, in <module>
    main()
  File "/usr/bin/dstat", line 2416, in main
    scheduler.run()
  File "/usr/lib/python2.7/sched.py", line 117, in run
    action(*argument)
  File "/usr/bin/dstat", li

[2015-01-13 16:58] chrcoluk commented on #38
I would like to replace the blue colours with something like green or yellow as on a black background its barely readable.

[2015-01-13 23:03] dagwieers commented on #38
@chrcoluk The obvious way to make blue more readable is configuring your terminal to display a lighter blue than what is configured. This helps not just for Dstat, but also for other tools using blue.

[2015-02-07 06:17] thinrope commented on #59
comma by default is fine, configurable is even better (like cut/paste commands)
--delimeter ";" ("," is the default)

[2015-02-12 20:28] pmazeris opened #86 "dstat crash with --top-io-adv --output dstat.csv"
Here is the error I get - Thank you

[code]

[2015-03-03 11:30] ecraven opened #87 "mix different types of values in one plugin"
Hello ;)

I've been playing around with a httpd (apache) plugin, I'd need to display byte values, integers and float values, all as different vars of one plugin. Is there a good way to achieve this?

Thanks, Peter

[2015-03-17 14:57] petef4 commented on #10
I came here to report this same bug. I would add to eccles' report that field 17 (link) should be added into 'inode'. On a separate point ought 'inode' be renamed to 'other'?

The source code nfsstat.c uses this to parse /proc/net/rpc/nfs

[code]

[2015-04-13 20:38] jotomo opened #89 "Feature request: flag to increase size suffix earlier"
E.g. for disk I/O 5.4 MB are displayed as _5411k_ (yellow) and 11 MB are displayed as _11M_ (green). The proposed option would change this behaviour use the next suffix earlier, so that after _1023k_ (yellow) comes _1M_ (green). This is more natural too me, as to me 5 MB are 5 MB and not 5something kb. The change in colour is also something that would feel more natural too me, like "ah, we're at m

[2015-05-05 13:32] mattheworiordan opened #90 "Documentation for steal CPU%"
`dstat` is an amazing tool, however I frequently used to resort to `iostat` on our EC2 instances as `%steal` is a very important metric for us.

Looking at the [TODO](https://github.com/dagwieers/dstat/blob/master/TODO), it still says this needs to be added to `--cpu-adv` plugin, however running `dstat --cpu-adv` it is clear it is already implemented.

It would be great to update the docs so that

[2015-05-05 13:56] svenstaro commented on #55
@dagwieers can you give us a life sign?

[2015-05-11 10:39] Paul17041993 opened #91 "no adv plugins"
I recently installed dstat on a cent 6.6 server in an attempt to find what processes are taking up the IO on the box, however I _need_ the PIDs and not the names, because the only results will be 'java' as that's what all the servers run off. The -adv plugins should have the PIDs, except none of them exist in the install and I cant find anything at all about them other then they should exist...

[2015-06-08 17:17] scottchiefbaker commented on #55
@dagwieers have you abandoned this project? Would we be better suited forking the code and finding a new maintainer? The last git commit was almost a year ago.

[2015-06-08 17:43] dagwieers commented on #55
Why fork ? If someone wants to do the release management, why not offer to
do it ?
On 8 Jun 2015 19:17, "Scott Baker" <notifications@github.com> wrote:

[2015-06-08 17:46] scottchiefbaker commented on #55
What's involved in doing the release management?

I only suggested forking the code because it seems like you don't have much interest any more. Mainly based on the git commit history.

[2015-06-25 12:14] siddharth178 opened #92 "dstat showing incorrect tcp active sockt count?"
Hi,

I am trying to use dstat to measure network numbers (bandwidth usage as well as sockets) while I run some performance tests using wrk. But I feel something is not right ..
Here is the output of dstat
[code]

See how 'act' connections grow to 804 and immediately reduce to 1 even if my wrk bench mark is running for next 20seconds with 1000 connections to this server. Wrk doesn't show any errors

[2015-06-25 13:50] siddharth178 commented on #92
Btw, noticed one thing. Proc file /proc/net/tcp used by dstat doesn't have this information. That means there is no issue in dstat code. But the real issue is with data available in /proc/net/tcp.

I checked if other tools have this issue -
Tested same scenario with 'ss' and it shows correct number of active/connected sockets.

Whats missing here? Is /proc/net/tcp right choice to look for this dat

[2015-07-05 22:56] dagwieers commented on #56
I am closing this ticket since dstat behaves like all the other tools: the first line immediately calculates the average since system boot.

[2015-07-05 22:56] #56 closed

[2015-07-06 05:40] jmiserez commented on #56
Thanks for the the response. I didn't see your comment a year ago, but the reasoning makes sense.

I used dstat to produce plots, which is why I was surprised by this behaviour.

[2015-08-10 00:49] BenasPaulikas opened #93 "--freespace allow to exclude(or whitelist) mount points"
For instance I only want to display "/" mountpoint size, I don't need /run or /dev mountpoints size

[2015-08-13 14:55] trittweiler opened #94 "dstat_net filtering out interfaces with 0 packets"
Howdy,

The 'discover' method of dstat_net looks as follows:

[code]

The l[2] corresponds to the number of received packets, and l[10] to the number of transmitted packets.

I wonder what the reason might be for filtering out interfaces that have not received or transmitted a packet yet?

We use dstat to dump to a log file at system start up at which point the counters for the interfaces, that we

[2015-08-14 12:20] gyrovague commented on #56
I ran into this "issue" too, and found this ticket with google. Would it be possible to add something like a "--noinitial" (or --nobootavg or whatever) cmdline option to skip this initial first line? I too found the behaviour surprising, and was also trying to use dstat from a script to automatically measure some CPU and interrupt stats. Right now I've resorted to redirecting the output to a file,

[2015-08-14 13:01] jmiserez commented on #56
@gyrovague Just FYI: You only need a single `sed`, rather than `head` and `tail`. E.g. `dstat | sed '4,4d'` will skip the fourth line of the output. Convenient and efficient.

[2015-08-14 13:15] gyrovague commented on #56
Ah, nice, thank you @jmiserez !

[2015-10-06 18:06] SpamapS commented on #55
@dagwieers I think @scottchiefbaker *was* actually offering to do the release. :)

[2015-10-06 18:08] SpamapS commented on #55
Just a point of interest here. I am working on using dstat to improve performance metrics in OpenStack. The dstat_mysql5_innodb plugin would be perfect for this, but has not been released so access to it is limited to git cloners. Please do a release, and if there is anything I can do to help (including setting up a group on Github, forking this repo, and releasing from that repo) I'm quite motiva

[2015-10-12 20:05] SpamapS commented on #55
Dag, hopefully you're reading your email. Can you check your spam folder for email from clint@fewbar.com (Thats me). I sent you an offer to help, and have received no response.

[2015-10-16 12:39] kdave commented on #55
If I may suggest something: give it a month and if you don't get any response or the release happens:

* start a dstat-ng fork
* tag the release in current git with some 'rc' so there's time for fixups before the final release
* write changelog: ie. a high-level overview of new functionality, important fixes
* do teh release

At this point you'll make a lot of people happy, dstat is just too aweso

[2015-11-25 01:21] trinitronx opened #98 "--freespace always outputs: "Terminal width too small, trimming output.""
Whenever I try to use the `freespace` plugin to show disk usage, it always says terminal is too small:

    $ sudo dstat --freespace
    Terminal width too small, trimming output.

I've tried this on a _very wide_ HDTV, with or without `tmux`, and always the same result.

# Screenshot

On a `1920 x 1080 (1080p)` HDTV screen, error still shows:

[![dstat-freespace-wide-hdtv-screenshot-2015-11-24-18

[2015-11-25 01:32] trinitronx commented on #98
D'oh!  Looks like iTerm2 settings are to blame:

[code]

Perhaps the real question to come out of this issue is:

How can I whitelist / blacklist _some_ mountpoints on systems that either have a lot or show lots of SystemD cgroups?

[2015-12-07 12:13] dagwieers opened #99 "Add support for querying dark/light backgrounds"
Just learned this is possible. Dstat should try to do the right thing by default:
https://lwn.net/Articles/665053/

[2016-01-09 08:40] millerjp opened #101 "Add plugin framework for output types - not just CSV"
It would be useful to support plugins to enable development of different output types - not just CSV.

For example, I want to run a performance test accross a very large number of clusters and I may choose to stream this data out to somewhere else and analyse runtime rather than copy CSV files and ingest etc..

[2016-02-18 22:12] nexus2 opened #103 "RFE - Ability to exclude a class of disk devices from the aggregate disk read/write totals - SDx/TDMPx for example"
Great tool!

Ability to exclude a class of disk devices from the aggregate disk/io read/write totals.

Ability to exclude either all SDx devices or TDMPx devices from the aggregate total.

Thanks!

[2016-02-22 17:55] nexus2 commented on #103
We modified the following line in /usr/bin/dstat to examine only TDMPx devices
for disk/io/total
:
        self.diskfilter = re.compile('^(dm-\d+|md\d+|sd[a-z]+|sd[a-z]+\d+|tdmp[a-z]+\d+)$')

Thanks!

[2016-03-14 03:24] scottchiefbaker commented on #55
This is my annual request for a new dstat release :)

[2016-03-14 08:57] dagwieers commented on #55
Whoops, @SpamapS I did not see your mail, so it must have gone to the SPAM folder.

@kdave Indeed, that's basically what is needed for doing a release. Except you also want to look at the PRs and issue tickets to see what's important and still needs to be addressed. Usually I keep track of loose-ends using the GitHub Milestones.

The problem is that even if you spend some time doing the above (whi

[2016-03-14 09:06] dagwieers commented on #55
@SpamapS You are now a collaborator. Whatever that entails :-)

I don't mind making Dstat a Github project, open up the discussions about the future of Dstat, give more people rights to manage the project, etc.

[2016-03-14 15:03] scottchiefbaker commented on #55
@dagwieers I think making dstat a community Github project is a great idea. There are obviously quite a few people passionate about the project. I'm happy to help in any way possible. I literally use dstat everyday, so I look forward to seeing it thrive.

[2016-03-15 01:15] thinrope commented on #55
Well, heart is on, @SpamapS, we are looking at you now!

[2016-03-15 11:31] dagwieers commented on #55
@scottchiefbaker You made your case. You are now a contributor too :-)

[2016-03-15 12:54] dagwieers commented on #55
Ok, I wanted to create a new @dstat project on Github, but the account is already taken :-/
So we cannot have dstat/dstat. Not sure what else we would want to do.

[2016-03-15 13:02] svenstaro commented on #55
Write Github support to request dstat/dstat. That account has not been used for 2 years it would appear. This is an ok-thing to do, I did it once.

[2016-03-15 13:05] dagwieers commented on #55
I already did, they say user @dstat is not dormant even though there is no public activity. So we are out of luck. We could rename the project.

Originally I started using the name mstat (modular statistics), but that conflicted with some other project). I selected dstat because with only 2 characters (ds) you could get to the command, and on my system today that is still the case.

[2016-03-15 15:24] scottchiefbaker commented on #55
@dagwieers Yay! Glad to be part of the team. Long live dstat.

If we can't have dstat / dstat maybe we can create a new group, but keep the dstat name? Something like: wieersware / dstat or something? I like the name dstat, I don't think that needs to change just because someone else has that group on github.

[2016-03-15 15:31] scottchiefbaker commented on #55
@svenstaro is there a way to reach out to @dstat and see if they're actively using that account?

[2016-03-15 15:32] dagwieers commented on #55
@scottchiefbaker Only through Github support (which I did) or through comments like these to @dstat :-)

[2016-03-15 15:37] scottchiefbaker commented on #55
@dagwieers ah ok... We can cross that bridge a bit later if we can agree on a good organization name. I think step #1 is going to be to establish a plan for the next release. If you don't mind I'd like to close this issue (or you can), and start a new one with less old cruft.

[2016-03-15 15:42] dagwieers commented on #55
Go ahead. I gave away all my rights to block this thing years ago.

[2016-03-15 15:42] #55 closed

[2016-03-15 15:56] scottchiefbaker opened #104 "Planning for the new release of dstat"
Paging: @svenstaro, @dagwieers, @thinrope, @SpamapS, @kdave

First and foremost I'd like to thank @dagwieers for opening up dstat and letting the community help. Dstat is too important a project to wither away. :+1: :+1: :+1:

We decided to close down #55 to re-focus our efforts on a new release without all the > 2+ year old cruft on that old issue. I'd like to start planning what people would lik

[2016-03-15 16:16] scottchiefbaker commented on #104
It looks like 5251397 was the 0.7.2 release. Anyone know want to come up with a changelog between there and now? I know my `--bits` fix is in there, but I'm not sure what else.

[2016-03-15 17:02] kdave commented on #104
See the ChangeLog file.

[2016-03-15 17:10] kdave commented on #104
All the interesting changes seem to be there.

[2016-03-15 17:23] kdave commented on #104
Pull requests #60 and #95 seem to be good candidates for the upcomming release. There are several lustre fixes that would need more time to see how much they overlap, the rest seem to be feature request.
Issue #5 seems to be easy to fix.
My suggestion: merge/fix those and ship 0.7.3
The next releases could be from the 0.7.x line, merging pending PRs and fixing easy bugs first, on a monthly basis.

[2016-03-15 18:24] scottchiefbaker commented on #104
I like making the next release 0.7.3. Anyone think it should be something different?

I'd like to get that release out the door, and then create a `next` branch as well as our existing `master` branch. That way `master` will (almost always) be the latest stable release, and `next` can be "beta" until we officially make another release. Any thoughts on this git methodology?

[2016-03-15 19:05] dagwieers commented on #104
No, it should definitely be 0.7.3.

[2016-03-15 19:06] dagwieers commented on #104
I wouldn't bother having multiple branches, unless a complete rewrite is planned.

[2016-03-15 20:21] scottchiefbaker commented on #104
@kdave I don't know enough Python to understand what's going on in #60. If you say it's good, that's fine with me though. @dagwieers thoughts?

#95 seems like a no brainer, that we can merge no problem. @dagwieers do you want me to handle those pull requests? Should we come to a group consensus on pull requests and then land them? How would you like that process to work. I do **not** want you to f

[2016-03-15 20:25] scottchiefbaker commented on #104
Just to clarify my thoughts for the "release process"... Github does a good job of creating releases from tags. I went ahead and created a tag for `dstat-0.7.2` for historical purposes. I used the commit message @dagwieers used in 2010 to find that. I think we can just tag whatever commit we want with the appropriate version and let github handle the rest. @dagwieers can then post those .tar.gz on

[2016-03-15 21:21] dagwieers commented on #104
@scottchiefbaker You can already start tagging the PRs (and issues) you want to pull to the correct milestone. E.g. if you want to release ASAP, you may want to move the open issues to a new milestone 0.7.4.

We should also go over the reported issues and see which ones are valid (bug/feature), which only requires support, or which ones need feedback, or are invalid. The bugs and features can then

[2016-03-15 21:44] dagwieers commented on #104
I have been doing some triage, and move some stuff to milestone 0.7.3 and 0.7.4.
Some PRs need feedback, some issues need feedback.

Some of the PRs I was reluctant to merge, since I don't use the software I cannot validate whether it fixes, or breaks something. The thermal stuff is one of those things that is easy to get right for you, but wrong for others... Usually I request information from /p

[2016-03-15 21:45] scottchiefbaker commented on #104
Oh cool, I've never used milestones before I'll check it out. I may end up moving a lot of these to 0.7.4 just to get a "clean" release out the door. Rather than a mad rush to try and merge stuff that no one has looked at it in 2+ years.

[2016-03-15 21:47] dagwieers commented on #104
@scottchiefbaker Sure, that's your prerogative ;-) I don't disagree as that's my problem every time I wanted to do a perfect release.

[2016-03-15 22:04] dagwieers commented on #104
Already some great results. New labels. Milestones are clearer. Triaging.
I need some sleep now, thrilled to see what tomorrow brings !

[2016-03-15 22:40] kdave commented on #104
@scottchiefbaker I meant issue #10, sorry

[2016-03-15 22:47] scottchiefbaker commented on #10
If someone wants to send us a pull request with this fixed I'd be happy to get this merged.

[2016-03-15 22:48] scottchiefbaker commented on #104
@kdave no worries. I went ahead and flagged that with a target of 0.7.3. We just need a pull request to fix that. If you want to work on that, we can get this release out the door pretty quick.

[2016-03-15 23:15] scottchiefbaker commented on #93
@dagwieers is it possible to pass an option to a plugin? Ideally it would work something like this

[code]

or

[code]

This has been a pain point for me also. I'll code up a pull request if you can assist me in figure out (in the freespace plugin) how to read the command line args for dstat. Are there any other plugins that do this I can use as a starting point.

[2016-03-15 23:22] petef4 commented on #10
I'll see if I can manage that tomorrow (2016-03-16). I've been running a locally patched version since reporting it. I will drop the "experimental" warning too if that is okay.

Kudos for getting dstat active again.

[2016-03-15 23:27] scottchiefbaker commented on #10
@petef4 the last change on this file was 2012. If you've been using it for a while and haven't encountered any other major issues, and are willing to fix this issue I'm fine with removing the experimental flag.

Thanks for your help.

[2016-03-16 00:00] scottchiefbaker opened #105 "Bump the version number in dstat to 0.7.3"
Line 26 of dstat includes the version number. We'll need to bump that to whatever is appropriate. This is a note to talk to @dagwieers about how that part works.

[2016-03-16 03:55] scottchiefbaker commented on #98
This is a known limitation of the current freespace plugin. I've already blacklisted several types of partitions which should help. See c475684f3dc7c0a49b3f372a83c27770ce4c8f43 for more details. We'll also be addressing specific mounts points in #93.

Closing this, so we can focus on #93.

[2016-03-16 03:55] #98 closed

[2016-03-16 03:58] scottchiefbaker commented on #85
Is this still an issue? What dstat command are you running to generate this?

[2016-03-16 04:01] scottchiefbaker commented on #42
@kumar303 any luck on that pull request? I'm curious about DB levels on the pi also.

Which wifi adapter do you have specifically?

[2016-03-16 04:05] scottchiefbaker commented on #103
How would you want this to look? Do you want a exclude pattern (blacklist) that would match certain types of disks.

You can already specify which disks to include with `-D` if you only want to see specific ones.

[2016-03-16 04:09] scottchiefbaker commented on #90
@mattheworiordan we'd love a pull request for this. Sounds like you know more about `%steal` than I do anyway. If you update the docs I'll gladly merge it.

[2016-03-16 04:11] scottchiefbaker commented on #86
I can confirm and recreate this.

[2016-03-16 04:12] scottchiefbaker commented on #101
What types of output would you be interested in?

[2016-03-16 08:09] kumar303 commented on #42
I was using a tenda N150 wifi dongle but I guess I never made a pull request. You can see my patch in the original comment if you need it though.

[2016-03-16 15:07] scottchiefbaker commented on #42
@kumar303 is this patch still required on the 4.x kernel that the pi is running now? Are you still seeing -256, that almost sounds like a driver thing to me that might have been fixed already? I don't have that module to test.

[2016-03-16 16:59] scottchiefbaker opened #107 "Need a way to pass information in to a plugin"
Currently the only way to get information from the CLI in to a plugin is with:
1. Environment variables
2. Hijacking existing options

Neither of these are optimal. We need to establish a better way of getting data from the CLI in to a plugin that's intuitive for the user. Ideally it would look something like this

[code]

[code]

[2016-03-16 17:00] scottchiefbaker commented on #107
Blocking #97

[2016-03-16 17:00] scottchiefbaker commented on #107
Blocking #93 also

[2016-03-16 17:06] scottchiefbaker commented on #93
I had a slow morning so I taught myself enough python to solve this. The code is written and tested I just need a way to get the data IN to the plugin.

[2016-03-16 17:30] scottchiefbaker commented on #107
It would be handy inside of a plugin for the plugin to be aware of it's own name also. The following code will check ARGV for options and extract what was specified (in this case after `--freespace`)

    def get_plugin_options(self):
        count = 0
        total = len(sys.argv)
        ret   = []
        found = []

        # Loop through each arg looking for --freespace
        for arg in sys

[2016-03-16 21:41] kumar303 commented on #42
I have no idea. It's been over 3 years since I filed it. If no one else has
run into it, I suggest closing the issue.
On Wed, Mar 16, 2016 at 4:11 PM Scott Baker <notifications@github.com>
wrote:

[2016-03-17 04:23] scottchiefbaker commented on #10
Merged... closing issue

[2016-03-17 04:23] #10 closed

[2016-03-17 17:12] scottchiefbaker commented on #105
@dagwieers I think I understand how that works now. Looks like I just need to change VERSION to "0.7.3", as the only place that uses that is the Makefile? I landed ab123c69682c27621f9e24adfd67ecc6792f8656 to address this new version number. Once we release 0.7.3 we can bump this file to `0.7.4-git` and start work on that.

[2016-03-17 17:13] #105 closed

[2016-03-17 17:18] scottchiefbaker commented on #104
:smile::star2::smile::star2::smile::star2::smile::star2::smile::star2::smile:

I think we're ready for an actual release! I was able to merge in the last couple hold-outs before 0.7.3. I think we're in really **good** shape for a release. It probably won't be perfect, but I expect 0.7.4 to come hot on the heels of this release to address any issues. Once we get an official release out the door I t

[2016-03-17 22:03] kdave commented on #104
Go go go!

[2016-03-17 23:33] scottchiefbaker commented on #104
@kdave I emailed @dagwieers and he said he's busy today/tonight but might have time tomorrow to work on the official release. That said, how do *you* feel about what we have so far? Are we in good shape for a release? The more feedback we get the better I'll feel.

[2016-03-18 10:08] dagwieers commented on #105
Looks fine to me.

[2016-03-18 10:27] dagwieers opened #109 "Enable Travis, PR/issue templates and checksums"
To help us with the release process there are 3 things we can do:

 - Add Github templates for PRs and issues, so that people provides us with as much information as possible. (people tend to be lazy, Dstat users more so ;-))

 - Enable Travis with the following default tests:
    - Test the codebase with python 2.6 (RHEL6) and python 3.X
    - Test a 10 sec dstat run (without plugins)
    - For e

[2016-03-18 11:04] dagwieers commented on #104
I just found out that `make dist` no longer works because it relies on svn (subversion).
So this proves I never made a release after I moved the project to Github. Sigh ;-)

[2016-03-18 12:44] dagwieers opened #110 "Move Dstat website to GitHub pages"
##### SUMMARY

It would be better if the Dstat website is managed by the community.
We could enable the GitHub Wiki site, but I don't like it that much.
Have a full-fledged Dstat website from GitHub would be preferred.
##### ISSUE TYPE

- Documentation report

[2016-03-18 13:23] dagwieers commented on #109
GitHub templates have been implemented.
Travis support is implemented.

I still need to find out if there is a standard for release checksums (e.g. to assist automated validation).

[2016-03-18 15:09] scottchiefbaker commented on #109
Good work! You've been busy...

[2016-03-18 15:50] scottchiefbaker commented on #99
[code]

On the three terminals I've tested returns `\e]11;rgb:0000/0000/0000\a`, which should be relatively easy to parse. However, when I try and capture it in a script I get `"\e]11;?\a\n"` which translates to "I don't know what color the bg is". This may have to do with it not being an actual terminal?

Can you capture this info in Python? This would be a good candidate for that `--black-on-whi

[2016-03-19 01:07] dagwieers commented on #99
I noticed that the Travis output shows a "7" at the start of the line.
This is also related to the Travis terminal not supporting the complete set.
Not sure what we can test though. It's not always correct either.

E.g. Synology terminal emulation reports not supporting colors, but it works fine with `--color`.
So it's nice to have the switches just-in-case.

Improvements to auto-detection is welc

[2016-03-19 14:47] scottchiefbaker commented on #109
What's left before we make a final release? I'm really excited to get this out the door.

[2016-03-20 02:05] dagwieers commented on #109
I think we can do a release just the way it is now. I can make a tarball using 'make dist' from the release you have tagged. And usually I update site like freshmeat (which no longer exists, and I don't know an alternative), slashdot, LWN, etc...

Especially now that it has been almost 6 years since the previous release, it can't hurt to make people aware.

[2016-03-20 02:15] scottchiefbaker commented on #109
If you're OK with it I'll tag ebace6d4177f8748f35cec87f7a49946046b0a20 as 0.7.3 and we'll make that the official release. Then you can update wherever you need to.

[2016-03-20 02:22] dagwieers commented on #109
Fine by me.

[2016-03-20 03:30] scottchiefbaker commented on #104
Ok it's official. 0.7.3 is tagged and "released"

https://github.com/dagwieers/dstat/releases

[2016-03-20 03:30] #104 closed

[2016-03-20 03:30] scottchiefbaker commented on #109
ebace6d4177f8748f35cec87f7a49946046b0a20 is officially 0.7.3. Good job team!

[2016-03-20 03:30] #109 closed

[2016-03-21 08:40] cmoxiv opened #111 "dstat crashes when screen is too small and logging with --output"
##### SUMMARY
The system monitor tool crashes when logging via "--output file.csv" option if the screen is too small

##### ISSUE TYPE
 - Bug Report

##### DSTAT VERSION
Dstat 0.7.2

##### OS / ENVIRONMENT
Ubuntu 14

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Exporting the stats into file.csv while displaying what the tool can afford within the terminal estate.

##### ACTUAL RESULTS
T

[2016-03-21 13:01] kdave commented on #104
Btw, naming the tag as dstat-0.7.3 generates the tarball with path dstat-dstat-0.7.3, usually it's just v0.7.3 or plain 0.7.3 .

[2016-03-21 13:17] dagwieers commented on #104
@kdave Aha, this was done previously because the tarball would have a directory **0.7.2/** instead of **dstat-0.7.2**. But I noticed that has been fixed in the meantime. I guess we should be tagging them by just the number them. Thanks for reporting !

[2016-03-21 13:30] dagwieers commented on #107
Not sure if this is the right approach. I'd rather look into a plugin mechanism where plugins report which additional options they provide, and which dstat takes into account.

The obvious problem is the overlap/conflicting use of the same option between plugins. Which is something we can only manage ourselves to avoid abuse.

[2016-03-21 13:52] dagwieers commented on #111
Ok, this seems trivial to fix. Because the list of visible plugins is empty (no plugins have output that matches the screen-size), refering to the last item in that list will fail.

We should check if the list is not empty first. Amazing that this wasn't reported before ? Good catch.

[2016-03-21 13:54] dagwieers commented on #111
Ah, this is already fixed in v0.7.3 !

As per the instructions in the issue-template, before reporting an issue please check if it still occurs with the latest release.

[2016-03-21 13:54] #111 closed

[2016-03-22 13:24] dagwieers commented on #91
@Paul17041993 We just released 0.7.3 which include these -adv plugins. Let us know if you have any issues.

[2016-03-22 13:24] #91 closed

[2016-03-22 13:26] dagwieers commented on #101
If you look at the TODO list, people have suggested spreadsheet output (including graphs, just like iozone), syslog output (as a transport to centralize data), RRD output, and all sorts of formats to interface with existing infrastructure (mysql, etc...).

[2016-03-22 13:33] dagwieers commented on #94
This was obviously done on purpose, but there is a use-case to control this. I would suggest we make a design of the options we would like to include to influence what items we want to include. Currently you have `-f` or `--full` to give access to all (non-zero) items, and we have switches to select specific items (e.g. `-C total`, `-D sda,sdb`, `-N eth0,eth1`).

I would go for an additional optio

[2016-03-22 13:39] dagwieers commented on #87
Yes, that's something I would like to have as well. Probably for a 0.8 release where we modify the plugin interface. The current implementation dates back from the inception of dstat and in hindsight it is a pretty poor implementation basically because we didn't know how it would be evolving.

Sometimes people only need individual counts, however most users prefer the plugin output in full. So cha

[2016-03-22 13:41] dagwieers commented on #90
The TODO should probably be replaced by Github issues (as feature requests). However that means people won't see the TODO list in full (as part of the distribution) unless we automate this. And it makes us more dependant on Github and Github processes (which may be an advantage rather than a drawback).

[2016-03-22 13:42] dagwieers commented on #80
We have a `page` plugin shows a system's page-in and page-out activity. Is this what you are looking for ? Or is this related to VMware counters ?

[2016-03-22 13:46] dagwieers commented on #57
No activity in almost 2.5 year, closing this issue. Feel free to add more related information.

[2016-03-22 13:46] #57 closed

[2016-03-22 13:53] dagwieers commented on #85
This is already fixed since some time and is related to #111.

[2016-03-22 13:53] #85 closed

[2016-03-22 13:55] dagwieers commented on #69
There is no real defined API interface, so changes in Dstat can easily break API consumers.

[2016-03-22 13:56] dagwieers commented on #18
Pull-request #88 implements a solution. Please test and provide feedback on #88.
I am going to close this issue.

[2016-03-22 13:56] #18 closed

[2016-03-22 13:59] dagwieers commented on #53
I am closing this issue as Dstat v0.7.3 includes the `--cpu-use` option to do just this.
Thanks for the feedback !

[2016-03-22 13:59] #53 closed

[2016-03-22 14:11] dagwieers commented on #93
I don't think this is a good idea. It means that you always have to pass information to the option. If one would do `dstat --freespace --tcp` the freespace plugin will be supplied with the data `--tcp` and the tcp plugin will not be run. This will confuse people. If we want to pass information to plugins via the Dstat command-line, we will have to add additional options, which will make it very lo

[2016-03-22 14:11] dagwieers commented on #93
Let's continue the discussion at #107 !

[2016-03-22 14:11] #93 closed

[2016-03-22 14:19] dagwieers commented on #107
I would like to propose another solution:

    `--freespace --opts=/,/usr --plugin2 --opts=1,2,3`

But this means that the order of the options is important, at least for `--opts=`, the order of the plugins already influences the order of shown counters, so the order has some meaning now already.

The interface could be enhanced if more than one piece of information is required.

    `dstat --mysq

[2016-03-22 14:22] dagwieers commented on #61
These are counter-rollovers. Please read the documentation related to counter-rollovers.
This is less likely to occur on 64bit systems, but common on high-speed interfaces on 32bit systems.

[2016-03-22 16:15] scottchiefbaker commented on #61
@dagwieers do we not compensate for counter rollovers? I've done it before, it's not that hard:

https://github.com/scottchiefbaker/perl-snmp-monitor/blob/master/snmp_int_watch.pl#L373

[2016-03-22 16:19] scottchiefbaker commented on #107
I still like my original solution best. It's the most "unixy" as your passing parameters in to `--freespace`, instead of a separate `--opts` call. In the code above the data immediately following a `--option` is checked to see if it's another option (i.e. `-a` or `--append`), if it's determined that it's *not* the next option it's read as the parameters for the current option. It works quite well.

[2016-03-22 19:07] dagwieers commented on #61
We don't. Theoretically with bonded 10Gbit interfaces you can have rollovers every few seconds. So if you have a larger window you can have multiple rollovers in a single time-frame. So if you start compensating, you hide this information with no guarantee or certainty, while if you leave that information in place it is up to the end-user to see how to process this information (either compensate o

[2016-03-22 19:22] dagwieers commented on #109
Shall we enable the Wiki and document the release process on the Wiki ?

I think we should do some basic tests to look for memory leaks in plugins (dstat --dstat-mem).
But we should also document how to tag releases, how to promote the release publicly, writing the release changelog, bug-triage, etc... And then refine it with every passing release.

[2016-03-23 04:14] leafonsword commented on #80
@dagwieers
thx，page and swap are often interchangable

[2016-03-23 04:14] #80 closed

[2016-03-28 20:36] scottchiefbaker commented on #42
Closing for agedness unless we run in to something like this in the future.

[2016-03-28 20:36] #42 closed

[2016-03-28 21:06] scottchiefbaker opened #112 "Update dag.wiee.rs to reflect the new release"
@dagwieers do you have plans to update/revamp http://dag.wiee.rs/home-made/dstat/ to reflect the new release? That site is currently pretty high up on Google when you search for `dstat` so I imagine it's generating confusion.

[2016-03-28 21:24] dagwieers commented on #112
Yes, that's why I opened #110 ?

[2016-03-28 21:25] scottchiefbaker commented on #112
#110 targets 0.7.4. Can you just change the link to point at the .tar.gz for 0.7.3 until we have time to address #110.

[2016-03-28 21:31] dagwieers commented on #112
Well, now that 0.7.3 is out, nothing is stopping us from doing it right now. We don't have to wait for a 0.7.4 release to close all tickets (in fact, that would be bad strategy anyhow). But sure, I can update the website. It will not bring us closer to closing #110, it's ony relieving pressure ;-)

[2016-03-28 21:31] #112 closed

[2016-04-13 00:40] noahl opened #114 "Document units of CSV output?"
##### SUMMARY

I would like to make sure I have the correct units for the dstat CSV output (specifically net send and recv), and I cannot find the units documented anywhere.

I will happily write the patch to update the docs myself; I just need to confirm that my understanding is correct before I do so. I think net send/recv measures bytes; is that right?

Thank you very much for your help.
#####

[2016-04-13 18:59] specing opened #115 "Device add/remove auto-detection for at least block devices (-D)"
##### SUMMARY

Does dstat support auto-detecting device add/remove and updating the display list accordingly? I was unable to find this feature in either 0.7.2 or latest git.

E.g. upon passing -D /dev/sd*, dstat would periodically monitor for new nodes matching this expression/list or existing ones disappearing and update the display list accordingly.
##### ISSUE TYPE

- Feature Idea
##### DSTAT

[2016-05-10 22:00] raedah opened #116 "Column headers not showing up when needed"
Running dstat with a delay time of 600. Headers never appear again after they scroll off the screen, making it difficult to know what the columns are. I paged up through 3 pages and confirmed that the headers were only displayed at the apps start and thats it.

Also noticed when testing, that even with the default delay of 1, the headers disappear off the top before they are again written at the b

[2016-05-10 22:03] dagwieers commented on #116
I cannot reproduce this. It works correctly in both occasions for me.
Please provide me with the output of `dstat --version`.

[2016-05-10 22:14] raedah commented on #116
$ dstat --version
Dstat 0.7.3
Written by Dag Wieers <dag@wieers.com>
Homepage at http://dag.wieers.com/home-made/dstat/

Platform posix/linux2
Kernel 4.5.2-1-ARCH
Python 2.7.11 (default, Mar 31 2016, 06:18:34)
[GCC 5.3.0]

Terminal type: xterm-256color (color support)
Terminal size: 43 lines, 132 columns

Processors: 4
Pagesize: 4096
Clock ticks per secs: 100

internal:
	aio, cpu, cpu-adv, cpu-use

[2016-05-10 22:16] raedah commented on #116
Running dstat with a delay time of 600, takes 10 minutes to generate a line, and so approx 4 hours to run off the top of the screen, so given your response 2 minutes after I filed the bug, I have doubts that you waited 4 hours.

[2016-05-10 22:22] dagwieers commented on #116
Ah, so you think this bug only manifests if you specify 600 ?
That would be a rather strange bug.
There is no real difference between `dstat 2` and `dstat 600`, and you also did not specify the number of lines your terminal was having. (And BTW the number of lines do influence the display of headers)

[2016-05-10 22:28] dagwieers commented on #116
BTW Do you happen to use any of the following options: `--noheader` or `--noupdate`.
Because both these options do no repeat the header...

[2016-05-10 22:45] raedah commented on #116
I am using --noupdate, but even with that headers appear and repeat with the default delay of 1. In my test, the lack of repeating headers only occurs with the large 600 delay.  The number of rows in my terminal is 43.

[2016-05-10 23:44] raedah commented on #116
I just tested this with a 60 second delay and had the same result. Header did not repeat. Repeats just fine with the default one second delay though.

[2016-05-10 23:51] raedah commented on #116
dstat --noupdate 2
You should be able to duplicate it with that. It requires a delay setting above 1, and --noupdate.

[2016-05-16 21:30] #116 closed

[2016-07-04 10:10] petef4 commented on #99
Various techniques for discovery are captured at https://github.com/rocky/bash-term-background

Both terminator (my preferred terminal) and gnome-terminal (the system default) return "Can't decide". The detection did work with xterm.

It may be possible to have a better guess at gnome-terminal. This is a start.

    $ grep -A1 background_color ~/.gconf/apps/gnome-terminal/profiles/Default/%gconf.x

[2016-07-05 19:17] millerjp commented on #101
@scottchiefbaker @dagwieers MQTT, Kafka etc.. - these would be great to integrate with.

[2016-07-07 06:28] Dagrut commented on #107
Hi!

Just an idea about this : why not allowing "=" signs optionally?
Like allowing `--freespace` or `--freespace=/,/var`
This may (might?) also be extended to base plugins, lile `-d=sda,sdb`

[2016-07-15 12:07] PhillipSz opened #118 "python 3 support/default"
##### SUMMARY

Please move to python 3 as will die in 2020.

##### ISSUE TYPE

 - Feature Idea

[2016-07-15 13:59] rpodgorny commented on #118
+1

see my branch at https://github.com/rpodgorny/dstat/tree/python3 for some preliminary work. the base dstat works, now it's time to convert plugins. ...but the problem so far is the import logic - it's one big mess. :-(

[2016-07-15 14:14] dagwieers commented on #118
Indeed, I wouldn't port over what we have.

Instead we need to refactor the plugin mechanism, and preferably the main loop to accomodate both python2 _and_ python3 (with a focus on python3).

[2016-07-15 14:23] dagwieers commented on #118
BTW Dstat was my first Python program, and that probably shows. The core has been largely a one-man project and did get little review from experienced python-programmers (some of the internal details are very weird).

So a redesign would also be very useful to clean up a lot of the logic that is a result of inexperience with Python. And it would also help in making plugins easier to write.

[2016-07-15 15:19] rpodgorny commented on #118
well, in my opinion, porting and refactoring existing code is usually a better solution as the complete rewrites are often overthinked and/or left unfinished.

i think the best first step would be to drop support for ancient python versions (<2.7?). from there, one can start to improve the code step by step.

[2016-07-15 15:26] PhillipSz commented on #118
I would also think about going python 3 only. Everyone, who will install dstat now on a recent distro has python 3. Those who not, can still use the legacy code. 3 only will bing much cleaner code.

[2016-07-15 15:39] dagwieers commented on #118
@PhillipSz @rpodgorny I like the fact that I can drop dstat.py on almost any Linux system and can run it. If you go python3-only a lot of (legacy) devices fall out of that category.

BTW Dstat supported python 1.5 until a few years ago (until RHEL2.1 went out of extended support).

[2016-07-15 20:11] PhillipSz commented on #118
well okey. But then we have to keep the python2 shebang because almost on all systems python == python2 (execpt Arch). So we will almost never have python3 as default or what do you think? And making two files is also not the way to go, right?

[2016-07-18 00:18] rpodgorny commented on #118
not really, if you decide to drop really old pythons, the __future__ import will, hopefully, take care of the rest. at least for python2.7, imho.

[2016-08-12 14:50] kkalinin commented on #92
I've noticed the same problem. And changing tab width for `dstat_socket` class helps. It's value hardcoded as `3` and it shows only first 3 digits of actual number. So everything is correct while you have < 999 sockets in any state, but if you have 1234 socket in some state, dstat will show only `1`.

[2016-08-12 15:00] scottchiefbaker commented on #92
Is the solution just to display those numbers in decimal format? 1.2k connections?

[2016-08-12 18:54] kkalinin commented on #92
I thought that the best solution would be to add one more app launch argument, something like --raw.
So, by default, the view would be human-readable. In case with tcp sockets - 1.2k, 1.2m, but in raw mode I would like to see the actual numbers, no matter of their length. But, for sure, some metrics like sent/recv bytes etc. should remain human-readable in any mode.
Still, as a quick solution, you

[2016-08-19 12:26] dagwieers commented on #92
@kkalinin You get the raw numbers in CSV output. We cannot print raw numbers to the screen since it messes up the whole formatting to the point it is rendered useless. (That's the problem with e.g. vmstat)

Currently one can already add `--float` to get floating point numbers instead of integers (when units are used). But we have to consider column width.

[2016-08-19 12:30] #92 closed

[2016-08-19 12:31] dagwieers commented on #92
I see what you mean now. Dstat did not show any unit numbers, and only reserved 3 columns in total for most connection stats. Should be fixed now !

[2016-08-19 12:32] dagwieers commented on #92
BTW Option `--raw` already exists, but doesn't do what you'd be expecting :-)

[2016-08-24 03:46] ghost opened #119 "Missing option to enable cpu_adv stats"
The advanced cpu statistics are available in the `cpu_adv` plugin; however there is no flag to enable it.  Maybe this should be enabled when using `--full` ?

[2016-08-24 07:31] dagwieers commented on #119
Try `--cpu-adv`

[2016-08-24 07:45] emotenc commented on #119
The source I pulled from master earlier today does not have that option.  It is not listed in the available options from the cmd line either.  A search of the file brings up no matches.  `--vm-adv` is the only advanced option toggle.

[2016-08-24 07:50] dagwieers commented on #119
Feel free to create a pull request to improve the documentation.

[2016-09-08 01:29] superheizai commented on #92
Want to know how did you resolve this problem?
I suffer from the same problem.  I want to measure system performance with one command,dstat, but it gave me a totally different number from ss.

[2016-09-08 15:39] dagwieers commented on #92
@superheizai It is fixed in the master branch. The fix is included in commit 4c47a34

[2016-10-07 23:26] xnoreq opened #120 "Invalid parsing of /proc/<pid>/stat"
##### SUMMARY

dstat assumes that the 2nd column in /proc/&lt;pid&gt;/stat cannot contain whitespace, but it does in some cases.

For example:
`cat /proc/4677/stat`
`4677 (tmux: client) S 4676 4677 4677 34816 4677 4194304 306 0 0 0 0 0 0 0 ...`

dstat_top_mem.py uses the 24th column to calculate mem usage:
`usage = int(l[23]) * pagesize`

This works for when the 2nd column contains no space (first

[2016-10-12 22:28] xnoreq commented on #120
[code]

[2016-11-13 21:14] dagwieers commented on #120
@xnoreq Good catch, although I was hoping to get a cleaner/faster implementation to parse that line.

Also, I have never encountered spaces in the name like tmux on your system. How did you manage to do this ?

[2016-11-14 21:32] xnoreq commented on #120
[code]

This is also trivial to test with:
[code]

[2016-11-14 22:51] dagwieers commented on #120
Hmmm, I cannot reproduce this.
[code]

And I am running a recent kernel:
[code]

[2016-11-15 16:32] xnoreq commented on #120
So am I. Not sure if this is a difference in kernel config or system configuration.

[2016-11-22 07:39] frippe75 opened #123 "Dstat missing last newline when running using a give count, and hiq column is gone"
##### SUMMARY
CPU header hiq missing as well as last newline when running a fixed amount of samples
I have a script that uses dstat to sample cpu performance on a regular interval using dstat <interval> 2 | tail -1

After an upgrade to fedora24 (dstat 0.7.2 -> 0.7.3) I got new behaviour.
Seems that the final newline is missing making the tail -1 go blank.

##### ISSUE TYPE
- Bug Report

##### DSTA

[2016-11-22 10:26] raphmur opened #124 "--lustre error on systems where lustre is read or write only"
On some systems, usually where lustre is slip in different volumes, or on badly installed volumes, some can be read only of write only. It throws an error while calling "dstat --lustre"

##### ISSUE TYPE

 - Bug Report

dstat-0.7.2

[code]

##### OS / ENVIRONMENT

CentOS 6.7

##### STEPS TO REPRODUCE

On a system where the /proc/fs/lustre/llite/<name of lustre volume>/stats does not contain "read_

[2016-11-22 10:39] raphmur commented on #124
I have already prepared a commit with dstat_lustre.py by adding between lines 20 and 21

"
read = 0
write = 0
"

[2016-11-23 15:15] frippe75 commented on #123
It's actually an added newline that seems to mess it up.
It seems alot of things changed between versions.

One line more using option "1 1"
`[frta@fedora21 tmp]$ ./dstat_0.7.2 1 1
You did not select any stats, using -cdngy by default.
----total-cpu-usage---- -dsk/total- -net/total- ---paging-- ---system--
usr sys idl wai hiq siq| read  writ| recv  send|  in   out | int   csw
 10   1  88   0   0

[2016-11-23 23:09] dagwieers commented on #123
- The output of Dstat is not guaranteed to stay the same at all times. It would mean we could not improve the program. Besides it should not matter because the output is intended for humans, not for processing.
- The options `--noupdate` and `--nocolor` indeed do not avoid ANSI output, and maybe it could. If this is important to you, feel free to send a pull request.

[2016-11-23 23:22] #123 closed

[2016-11-24 06:48] frippe75 commented on #123
Hello Dag!

Thanks for the response!

Ok, maybe should be more clear in the "dstat mission statement". I think most Linux users expect to keep backward compatibility in the output since parsing and piping is in the core of bash scripting. Usually new features/changed behaviour  are added and controlled via new flags. Or a flag to force backward compatibility.

I really like dstat and I think you a

[2016-12-07 15:02] FelixNeutatz opened #126 "Problems with "--disk -D total""
##### SUMMARY
We recognized that "--disk -D total" outputs way less than we are expecting from our workload. We also verified that by monitoring the running processes reading from "/proc/[processid]/io". So it turned out that the numbers of "/proc/[processid]/io" don't fit with the numbers of "/proc/diskstats" which is used by "--disk -D total". To further verify that we run:

`./dstat --disk -D t

[2016-12-08 16:03] dagwieers commented on #126
The numbers look fine. You have to consider I/O going to disk. Not other I/O (piped, network, pagecache). And they should compare roughly. Take measurements over a longer period (e.g. 1 minute) and compare -d with --top-bio. I/O should be comparable, but may be shifted a bit due to delayed writes.

[2016-12-09 09:11] shahn commented on #120
You should be able to reproduce this by just producing a binary with a space and then running it.

[2016-12-09 23:17] FelixNeutatz commented on #126
Thanks for the quick update. I run it again and the cumulative charts are the following:

cumulative chart of --disk -D total             |  cumulative chart of --top-io             |  cumulative chart of --top-bio
:-------------------------:|:-------------------------:|:-------------------------:
![cum_agg_chart_dsk_total_read](https://cloud.githubusercontent.com/assets/5217389/21067767/b935717c-

[2016-12-10 00:41] dagwieers commented on #126
Right, because --top-io is **NOT** block I/O. As I told you, it includes a lot of other things that are not related to disks. So you are comparing apples and oranges...
And the difference between --disk and --top-bio is related to:
1. buffering, process metrics are real-time, but disk I/O is buffered
2. --top-bio metrics only includes block I/O from a single process where --disk metrics include al

[2016-12-10 00:41] #126 closed

[2017-01-22 22:45] theundefined opened #131 "Allow show network usage in kilobits instead of kilobytes"
##### SUMMARY
Currently dstat show network usage in bytes/kilobytes/megabytes. It's not very useful in "it" world, where network traffic is always counted in bits/kilobit/megabit.
it would be usefull to allow change (by option?) show values to bits instead of bytes.

##### ISSUE TYPE
 - Feature Idea

##### DSTAT VERSION
[code]

[2017-01-22 22:54] dagwieers commented on #131
There is an option `--bits` already.

[2017-01-22 22:54] #131 closed

[2017-01-22 22:59] scottchiefbaker commented on #131
I personally wrote `--bits` because bytes/sec for bandwdith doesn't make any sense.

[2017-01-22 23:03] theundefined commented on #131
ok.. sorry :) I didn't check latest version :-D

[2017-02-01 03:52] masterspelling opened #132 "unreadable colors"
##### SUMMARY
On some devices some colors are not readable

##### ISSUE TYPE
 - Bug Report
two computers both windows (different versions), both running putty
On one computer units are black on black background.
apparently color of background is  translated into "default background" color on putty and unit color is translated into "ANSI Black".

on another computer everything is readable

##### DS

[2017-02-11 19:04] Earnestly opened #133 "Headers are displayed regardless of --noheaders"
##### SUMMARY
When using dstat --noheaders I still get headers on stdout.

##### ISSUE TYPE
 - Bug Report

##### DSTAT VERSION
[code]

##### OS / ENVIRONMENT
* Linux   4.9.6
* python2 2.7.13

##### STEPS TO REPRODUCE

Simply run `dstat --noheaders | cat -A`

##### EXPECTED RESULTS
[code]
*PS: It would also be nice if we can get rid of those `|` separators.*

##### ACTUAL RESULTS
[code]

[2017-02-12 22:49] dagwieers commented on #133
The --noheaders option is explained in the manual page:
[code]

Dstat's standard output is meant for humans. If you want to process the output I suggest you look at the CSV output option.

So this is not a bug.

[2017-02-12 22:49] #133 closed

[2017-02-16 19:59] ecraven commented on #120
I've just had this happen on a server, default arch linux packages. tmux shows as 85G memory :-/

[2017-03-15 16:54] jcowgill opened #136 "Testsuite fails - plugins/dstat_nfsstat4.py - AttributeError: 'list' object has no attribute 'split'"
##### SUMMARY
Testsuite fails on Debian 9
https://bugs.debian.org/852927

##### ISSUE TYPE
 - Bug Report

##### DSTAT VERSION
[code]

##### OS / ENVIRONMENT
Debian 9. I ran the testsuite inside a chroot running on Ubuntu 16.04 hence the kernel version.

##### STEPS TO REPRODUCE
Run `make test`

##### EXPECTED RESULTS
Testsuite passes.

##### ACTUAL RESULTS
[code]

[2017-03-29 21:50] scottchiefbaker commented on #107
I'd like to modify a couple of plugins to expand functionality, but not having a clear method to pass data to them is complicating things. Where are we at on this @dagwieers ?

[2017-04-17 17:07] dpquigl commented on #101
This issue seems to have gone cold but has discussion happened with regards to this topic? I just got done writting a performance analysis script and dealing with the json output from fio was significantly easier to work with that the csv format dstat outputs.  Has anyone discussed a json output formation for dstat?

[2017-05-07 13:05] o9000 commented on #120
Here is a simple way to reproduce:

[code]

[2017-05-20 05:28] o9000 opened #138 "Incorrect unit in top-mem csv"
See: https://github.com/dagwieers/dstat/blob/master/plugins/dstat_top_mem.py#L43

Unit is bytes, not percent.

[2017-05-20 05:38] o9000 opened #139 "Horizontal layout, maybe with bar plots"
Firstly thanks for this awesome little program.

dstat has a limit on the number of columns that can be shown. But most terminals are tall and thin; and even in 1920x1080 there isn't enough space to display something like:

[code]
So I played a bit with curses and tried to get a horizontal layout working.

I could show all the values as columns, but instead I'm showing only the current value, the

[2017-05-20 12:16] o9000 commented on #120
Since `/proc/[PID]/stat` is the only type of file that needs this parsing, the method should be used conditionally:

[code]

[2017-05-20 12:21] o9000 opened #140 "Plugin path computed incorrectly when dstat is symlinked"
I am linking from ~/bin/dstat to ~/src/dstat/dstat (the git repo). All plugins fail to load. This is because the path to the plugins does not resolve symlinks for sys.argv[0].

The correct code should be IMHO:

[code]

[2017-05-21 21:09] RenaKunisaki opened #141 "CSV output to stdout"
##### SUMMARY
Would like an option to output CSV to stdout for piping into other programs.

##### ISSUE TYPE
 - Feature Idea

##### DSTAT VERSION
[code]

##### OS / ENVIRONMENT
Arch Linux AMD64

##### STEPS TO REPRODUCE
eg:
[code]

##### EXPECTED RESULTS
CSV output instead of normal output.

##### ACTUAL RESULTS
Normal output, with CSV written to file named `-`.

[2017-07-16 05:24] Amirioelmos opened #143 "output statics in mgb or mgB ?"
##### SUMMARY
Hello.

What are some of the statics and figures that dstat gives us? (mgb or mgB?)

#

[2017-08-31 09:09] q2dg commented on #24
I have dstat 0.7.3 installed from official packages in Fedora 26 and I still suffer this error.
I've seen https://github.com/dagwieers/dstat/blob/master/ChangeLog and this pull request isn't listed on it.
Please, it's really annoying

[2017-09-09 13:19] eshizhan commented on #118
My little job at https://github.com/eshizhan/dstat. I'm not testing all plugins, but some of commons should be fine with python 2.6+ and 3.2+.🌹

[2017-09-10 02:21] brockpalen commented on #124
This will actually happen on any node that has not done any IO on the lustre mount.

Lustre stat files do not include any stats where there is not at least 1 operation, rather than having a 0 counter.  (honestly, I find this annoying)

Checking if they exist and if at the end setting values to zero would probably be an quick easy fix.

[2017-11-22 04:37] yarikoptic opened #145 "[wishlist] ability to change the "blue" color in the header (blue is too dark, can't read)"
##### SUMMARY
First of all thanks for the dstat -- very very handy!

I use a terminal with black background and relatively small font.  The header and some numbers are close to impossible to see since that dark black isn't really visible for me (I think it is not subjective perception effect).  If they were changed by default or with some option to e.g. darkcyan, it would be much better IMHO - wit

[2017-11-22 08:39] dagwieers commented on #145
The exact color is related to the terminal you are using. So if you find blue too dark, modify that color in your terminal settings. Here is how to do it in Putty: http://dag.wiee.rs/blog/content/improving-putty-settings-on-windows

[2017-11-22 08:39] #145 closed

[2017-11-22 09:05] dagwieers commented on #132
We simply use ANSI colors, so if they don't turn up correctly on a system, it's likely related to the terminal settings. Some people complain that blue is too dark, but rather than fixing every application to use a different color, you can simply make blue less dark for your terminal.

So I don't consider this a bug.

[2017-11-22 09:05] #132 closed

[2017-11-22 15:35] yarikoptic commented on #145
thanks, I haven't realized that ansi colors are actually tunable ;)  FTR, on linux, temporarily within terminal I did
[code]
to get a sensible blue(s) for myself.  Will later figure out the best way to hardcode that

[2017-12-05 13:42] eMPee584 commented on #120
.. and I complained to the tmux mailing list why tmux might be using 5 Terabytes of virtual memory :rofl:

[2017-12-06 12:35] jubalh commented on #118
So what exactly is the current state of this?

Also thought about rewriting this in python3.

It seems @rpodgorny and @eshizhan have both started to port to pythong3/make it work with both python2 and python3.
Seems like bundling that effort would be a better thing to do.

[2017-12-08 06:30] kaiwan commented on #120
Am facing the same issue w/ firefox reporting 13 TB mem usage (w/ just 4 tabs open)! (was wondering what the heck firefox is upto :-) ).

$ dstat --top-mem
--most-expensive-
  memory process
We          13.0T
...
$

Pl fix this bug!

[2017-12-12 00:43] freeboson opened #147 "Add way to supress missed tick output"
##### SUMMARY
I have a system under heavy load, and I don't need to see that the averaging missed 2-3 ticks every interval. It spoils the fixed-col output and is unnecessary. I would like to choose to disable this output.

##### ISSUE TYPE
 - Feature Idea

##### DSTAT VERSION
[code]

##### OS / ENVIRONMENT
On ArchLinux. Not platform specific.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULT

[2017-12-12 00:55] freeboson commented on #31
Sorry — referenced this issue by accident.

[2018-01-07 04:22] abitrolly commented on #110
Also, Fedora package link is broken. The correct one is now https://apps.fedoraproject.org/packages/dstat

And links to blog posts are also need to be refreshed.

[2018-01-28 06:36] neooblaster opened #150 "Feature request : Total Bytes cumulated on delay X"
Hi dstat team,

First, I checked if that feature request has not been done yet.
I did not found results corresponding to my need.

I found that tool awesome, very complete, flexible, colorfull.
The only one feature I found is missing : total bytes cummulated.
Indeed, you offer the option `total` (`-D`, `-N`) that count bytes for all devices (Disk / Net Interface) at **time T**.

Given you offer op

[2018-01-28 09:34] dagwieers commented on #150
Writing your own module to do this is quite easy, but it's not a bug and nobody requested it in the past 15 years that I know of.

[2018-01-28 12:30] neooblaster commented on #150
If I could, I will, but I'm comfortable with Python language and Linux package integration, but I thought about it ;)

Do you think you can help me in by guiding me in main lines (steps to realize it) ?

Currently, I you have not really enough time to do this, but I'd try.

If I succeeded, I will sent you a PR.

[2018-02-16 16:26] Iskenof opened #152 "Infiniband Problem"
##### SUMMARY
/repo/alu/dstat/dstat-master/dstat --ib --debug
Plugins: ['ib']
Module dstat_ib
Traceback (most recent call last):
  File "/repo/alu/dstat/dstat-master/dstat", line 2846, in <module>
    main()
  File "/repo/alu/dstat/dstat-master/dstat", line 2705, in main
    scheduler.run()
  File "/usr/lib64/python2.6/sched.py", line 117, in run
    action(*argument)
  File "/repo/alu/dstat/dstat

[2018-03-13 07:46] MDEBEULE opened #153 "Incorrect numbers with raid configuration"
##### SUMMARY
Disk bandwith is incorrect

##### ISSUE TYPE
 - Bug Report

##### DSTAT VERSION
[code]

##### STEPS TO REPRODUCE

md0 is raid10 comprised of sda, sdb,sdc,sdd
Raid layout is far with 2 copies

numbers for total and all disks are correct.
md0 should be the same as total in this case

[code]

##### EXPECTED RESULTS
md0: 88-90M

##### ACTUAL RESULTS
combined result for raid disk way off

[2018-03-18 14:14] davecoutts opened #154 "Comma added to end of csv output file when 'Terminal width too small, trimming output' warning seen."
##### SUMMARY
A comma is added to the end of the csv output file line when dstat is run in a narrow terminal that produces the 'Terminal width too small, trimming output' warning.
The extra comma stops being written to the end of the csv line as soon as the terminal is expanded out to a width that can fully accommodate the dstat terminal output.

The variable column width part way through the csv

[2018-03-22 06:07] praiskup commented on #118
@rpodgorny / @eshizhan could you please submit PR if you moved far enough?  Or what's the status?

[2018-03-22 08:04] methane commented on #118
I think splitting repository or creating py3 branch is better than 2/3 compatible way.

* 2/3 compatible code is hard to write and maintain.
* Development speed of master (py2) branch is slow.  It's easy to port changes in master branch to py3 branch.
* There are only less than two years until Python 2 EOL
* Some plugins will be require dependency differ than Python 2.

[2018-03-22 08:35] praiskup commented on #118
It is usually OK to support at least python 2.7 and python 3.  Is anything < python 2.6 needed?

Can you be more concrete?

[2018-03-22 09:46] methane commented on #118
I meant dropping 2.7 support in py3 branch.  Master branch keep 2.7 support (until 2020).

It's hard to be concrete because there are massive small parts.
But keep 2.7 support means it can't use any new Python 3 features and stdlibs.

Additionally, it's difficult to test all plugins on Travis.
If we keep current single branch, we may break some plugins while rewriting.

Keeping "dstat for Python 2

[2018-03-22 10:18] praiskup commented on #118
This doesn't help to understand; why the python3 features/libs are needed?  Can those features be named here so we have a reasonable argument?

Please specify why.  I can imagine there are issues, but referencing/specifying the issues concretely should help the potential PR submitter to better understand what's the real showstopper.

--
If anything, more logical way would seem to be flip master ag

[2018-03-22 10:42] methane commented on #118
You can check Django codebase; they drop Python 2 support and simplify code.
Django 2.0 runs faster than Django 1.11 too.
Or you can see https://pythonhosted.org/six/ for more examples.

Because they arn't tested on Travis-CI for now.
There are many types of plugins.  Some of them requires external servers.

---

I don't care which should be master for now.  Anyway, Python 3 should be master at la

[2018-03-22 17:27] kapsh commented on #118
Hello, I saw your discussion about 2-3 compatible Python code here.

@praiskup I can point to some of changes that will make support a nightmare. For starters.

1. Incompatible `dict` methods. You can't just use `items` or `keys`, you should keep track on usage: am I iterating here? Then it's maybe fine. I want to save this? Oh, just add list() here. And at some point code eats 2 GiB of RAM on py2

[2018-03-22 18:20] praiskup commented on #118
Regarding Python 2, vs 3 compat-nightmare - it really sounds like FUD to me, but I agree that one would have to have CI in place to be sure that no accidental mistake happens.  For testing, there's unittests' mock thing...  which can be used to create the abstraction/emulation for stuff which can not be tested in travis environment.  Just saying that I'm not convinced anyone should be blocked to w

[2018-03-23 08:40] methane commented on #118
I maintain some projects with py2/3 compatibility.  It's best practice for several years.  It was better than "two branch" model for most projects.  I don't want FUD for it, while I think everyone should adomit keeping py 2/3 compat requires *significant* effort.

I only talk about in case of this project for now.

* "Maintain two branch" is easy for this project, because "dstat for Python 2" is v

[2018-03-23 09:03] praiskup commented on #118
No! :-) CI is only needed ".. to be sure ..", for convenience of maintainers.

You can use http://www.voidspace.org.uk/python/mock/

[2018-03-23 09:12] methane commented on #118
If we go with "single branch with py2/3 compatibility" model, how do you guarantee no breakage on Python 2?
For example, see @eshizhan 's work.
https://github.com/eshizhan/dstat/commit/f703b21fc37d1559bf419e2c5d5ac73f71990a18
"Showing  with 658 additions and 666 deletions."

More than 80 plugins are changed without CI.

Yes, but requiring third party is one of "significant effort" for keeping PY2

[2018-03-23 09:31] praiskup commented on #118
On Friday, March 23, 2018 9:40:28 AM CET INADA Naoki wrote:

Don't take me wrong, I just wanted to hear why **this project** should
have problems with porting.  Concrete examples in code, e.g.

This sounds like philosophic question;  because nothing really guarantees
you anything.  Any fix, regardless what approach is chosen, is risky.
CI only lowers the chances, as reviews do, etc.

If there's no

[2018-03-23 09:38] methane commented on #118
You can `yum install dstat` or `apt install dstat`.
Or you can download dstat.py from PY2 branch on such old machine.

Keep "old stable PY2 branch" is better to keep support old Linux, while going forward for PY3 / new Linux on new PY3 branch.

[2018-03-23 09:40] methane commented on #118
No.  If we keep PY2 branch as-is, we **can** guarantee there are no regression on PY2 branch,
because we commit such large changes only on PY3 branch.

[2018-03-23 09:53] praiskup commented on #118
I just wanted to know arguments why it is so (from **this** project maintenance POV).  So you haven't convinced me, yet, but that's not necessary (stepping down from OT, poking at pcp).

[2018-03-23 10:13] methane commented on #118
Because contributors who want PY3 support may not want to setup legacy Linux to test.

[2018-03-23 10:20] methane commented on #118
@dagwieers would you create new branch or repository?

Ubuntu is working on dropping PY2 from main apt repository.
I'm heavy user of dstat and I want PY3 version of dstat on Ubuntu 18.10.

[2018-03-23 10:28] jubalh commented on #118
Nothing special about Ubuntu here. Other distributions already did the same change, and the ones I checked use https://github.com/eshizhan/dstat as the new source for now. Until this is settled here.

[2018-03-23 10:46] praiskup commented on #118
On Friday, March 23, 2018 11:13:46 AM CET INADA Naoki wrote:

Some contributors "may not" ... either that's too general statement (totally
irrelevant to my question strictly related to this project), or you mean
yourself here...  So I guess then any step forward would be awesome, whatever
way you prefer!

[2018-03-26 10:16] methane commented on #118
When there are two contributors and one doesn't want to setup legacy Linux for test, "easy to contribute" is weaken by supporting Legacy Linux.
So "some contributors may not" doesn't deny my opinion.

Anyway, "setup legacy Linux and test on it" is **cost** even if the contributor doesn't dislike.

Of course!  I don't want to do manual test.
"PY3 only branch" allow me to skip manual test, because t

[2018-03-26 10:54] praiskup commented on #118
On Monday, March 26, 2018 12:16:06 PM CEST INADA Naoki wrote:

It's still unclear, are you going to port dstat to python3 and do the testing,
right?

[2018-03-26 11:06] methane commented on #118
It depends.  Please notice that current code is not automated tested.

For example, when I (or other contributor) run 2to3, I want merge it without testing all plugins.

Another example, I want to test some plugin manually only on one Ubuntu setup.
I may merge it without testing on Arch, Gentoo, CentOS 5,6,7, etc....
There may be compatibility problem.  But it can be fixed later.
Since PY3 "doesn'

[2018-03-26 12:33] methane commented on #118
I'm working on https://github.com/methane/dstat/commits/py3

I removed some old (for Linux 2.4) plugins.
I confirmed some plugins work.

[2018-03-26 12:39] methane commented on #118
Wow, which distribution did it?

[2018-04-06 13:37] ceinmart opened #155 "Feature request : extended memory statistics : Huge Pages and Commited pages"
##### SUMMARY
I work with databases on Linux and need to be careful with certain memory usage.
In special Huge pages and Over commit (to avoid the over commit killer)
The memory statistics missing these information, should be nice include them.

##### ISSUE TYPE
 - Feature Idea

##### DSTAT VERSION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

Create a file at /etc/sysctl.d/dsta

[2018-04-10 12:01] edi9999 opened #156 "I would like to participate in dstat development and responding to issues."
Hello @dagwieers , I 've seen on your repository that the latest commit is from November 2016.

I would be interested in reviewing and merging some pull requests, and also continue the project which I find is amazing.

Would you want to give me access to this repository ?

Thanks in advance.

[2018-05-25 10:56] shengulong opened #157 "what's the unit of io?"
dstat -r
![image](https://user-images.githubusercontent.com/9910148/40541166-43b71d96-604d-11e8-8343-40cd05ef2b8b.png)
can you tell me the unit?  requests/second?

[2018-07-04 07:48] carsten-AEI commented on #103
I know this is a very old RFE and I'm not sure if development is still underway, but a typical use case would be a server with zpools.

Each zpool is represented by a device (`/dev/zd*`) and if you run dstat in simply disk summary mode it will double count disk accesses (single underlying disk drives plus zfs device which already sums the single disk drives). Given that large servers can often hav

[2018-08-28 15:32] dagwieers commented on #156
If it wasn't for Fedora removing dstat from their distribution, I wouldn't have seen this request.
You are now a collaborator. One of three :)

[2018-08-28 15:50] scottchiefbaker commented on #156
Fedora hasn't removed `dstat` from their respositories as far as I can tell. Is this related to them trying to sunset Python 2.x?

[code]

[2018-08-28 15:57] dagwieers commented on #156
It's related to the fact that PCP has a tool that is also named "dstat", and as an argument to replace our tool they give 2 reasons:
- It's dead upstream (last change in 2016)
- It doesn't support Python 3
https://bugzilla.redhat.com/show_bug.cgi?id=1614277

[2018-08-28 16:00] dagwieers commented on #156
It appears that pcp-dstat is a fork of dstat...

[2018-09-25 16:27] scottchiefbaker commented on #156
I'm not a python guru... how complicated would it be to update `dstat` to support Python 3?

[2018-09-25 18:14] dagwieers commented on #156
I guess it's as easy as doing a diff and then a PR ;-)

[2018-11-12 11:07] ottok opened #158 "MariaDB modules"
Hello!

Dstat currently has a number of mysql-* and innodb-* modules. As a MariaDB fan I'd like to use the name 'mariadb' in the commands. If I make a pull request to rename and alias these, so that both names work, will it be accepted?

After the rename my plan is to extend the modules a bit, so that the mysqld-process authentication (both for MariaDB and MySQL servers) is more robust in the firs

[2018-11-16 00:20] scottchiefbaker commented on #158
I don't want to speak for @dagwieers but as another person with commit access on this repo I'd be fine with this. If the long term goal is keep MySQL as it is, and to add features specific to MariaDB then I think it sounds great.

[2018-11-17 09:56] ottok commented on #158
I already found in the pull requests a huge improvement to current affairs: https://github.com/dagwieers/dstat/pull/96

Once that is merged I can fix the other details. Basically I was thinking of doing much of the same that has already been sitting in a PR for 3 years.

Thanks for replying @scottchiefbaker and letting the world know this project is not completely dead. :smile:

[2018-11-19 16:46] scottchiefbaker commented on #158
Sounds good to me... I'm just a helper (my Python isn't real strong), but @dagwieers should be able to get things rolling.

[2018-11-30 14:41] bacoboy opened #160 "Fix for freespace plugin errors never merged"
On machines running docker, there are a lot of filesystems added to `/etc/mtab` that are not accessible (since they are basically the docker containers filesystems and outside the scope of the freespace plugin) which is used to get all the filesystems.  Trying to access a docker filesystem results in a permissions error which isn't handled by the plugin today.

[code]
At first glance this would ap

[2019-01-09 15:21] alete89 commented on #120
Thanks guys, you helped me to find a bug in another project. =D
https://bitbucket.org/henning/pyqtermwidget/issues/4/bug-parsing-proc-stat

[2019-01-16 11:42] kayb94 commented on #156
Hi,

obviously nothing has happened so far. Would you allow to me to try to help and invest some time on dstat @dagwieers by making me a collaborator?
I have looked into the dstat replacement of fedora "performanceopilot" aka "pcp", but I find it pretty horrible, to be honest. cloc reports over 200k lines of C code, besides a dozen other languages...

Regards

[2019-01-16 21:43] dagwieers commented on #156
@kayb94 Sure.

[2019-01-17 00:21] dagwieers commented on #156
@scottchiefbaker It is not complicated to make Dstat work on Python 3, it took me less than an hour.

[2019-01-17 00:22] dagwieers commented on #118
It took me less than an hour to make the codebase work on both Python 2.7 and Python 3.6.
The current master branch should work fine on Python 3. Feedback welcome.

[2019-01-17 00:30] dagwieers commented on #156
Let's close this issue.

[2019-01-17 00:30] #156 closed

[2019-01-17 00:30] scottchiefbaker commented on #118
@dagwieers That's awesome. Good work sir!

[2019-01-17 00:31] scottchiefbaker commented on #156
For what it's worth I also looked at the Fedora "performanceopilot" and it's pretty terrible... it requires a daemon to run? I just want quick and dirty stats, and that's what `dstat` gets me. I use it everyday.

[2019-01-17 00:32] dagwieers commented on #118
@scottchiefbaker Well, I just noticed @methane did almost the exact same changes. It would have been easier if that was a PR instead :-/

[2019-01-17 01:31] natoscott commented on #156
Some minor corrections here ... (feel free to ask me anything about PCP and the new dstat there)

| [...] it's pretty terrible

Beauty is in the eye of the beholder I guess, and it depends what you need.  PCP is not something directly comparable to dstat - apples, oranges.

| it requires a daemon to run?

No, that's not correct.  There is an optional daemon for live data, dstat will use it only if

[2019-01-17 02:21] dagwieers commented on #156
@natoscott Why did you decide to call your tool also dstat, ans not pstat or pcpstat ?
I don't understand the reasoning of building your own tool and aiming to replace the original.

[2019-01-17 02:37] dagwieers commented on #156
@natoscott I don't feel good about the fact that replacing dstat with a pcp version has been done completely in the dark. Especially since the pcp version is not a drop-in replacement (according to: https://github.com/performancecopilot/pcp/blob/master/src/pcp/dstat/TODO). The Fedora proposal is very one-sided in the respect.

It seems more like piggybacking on an existing and popular tool to get

[2019-01-17 02:44] dagwieers commented on #156
Another problem is that with pcp-dstat you no longer can create your own plugins, you have to add your code to pcp instead. This makes it harder to extend dstat.

And I wonder if you have similar plans to replace atop, collectl, iostat, mpstat, vmstat, etc. ?

[2019-01-17 04:54] methane commented on #118
@dagwieers As I wrote above, my plan was two branch model; one for backward compatibility,
and one for Python 3.
For example, my branch drop some plugins I think it's useless for modern systems with Python 3.
And I don't use six, just support only Python 3 for new branch.

[2019-01-17 05:02] natoscott commented on #156
@dagwieers hi there Dag!

| Why did you decide to call your tool also dstat

The new script is actually called pcp-dstat(1), with the initial goal of just being a drop-in replacement.  In the end it matched so closely, and was such a quantum leap forward (to an inactive project mind you) that it was decided to phase out the original, unmaintained version - i.e. we were actually requested to comple

[2019-01-17 11:22] dagwieers commented on #156
That's quite untrue, this only works if the data was already obtained by PCP in some way. The proof is that a lot of existing plugins are not supported in pcp-dstat. You can't just add a text file to get those counters in pcp-dstat, you need to extend PCP.

[2019-01-17 16:18] scottchiefbaker commented on #156
It was my understanding that the primary reason that `dstat` was removed from the Fedora repositories was because it lacked Python 3 support. We were never informed of that decision until I read it in the beta release notes. @dagwieers has since added Python 3 support (in about an hour), and probably would have added it sooner if we knew it was a requirement to be included in Fedora.

That said I

[2019-01-17 16:23] scottchiefbaker commented on #156
I'm not a developer of `dstat` (not really) because my Python skills are severely lacking. I'm just a very avid fan of `dstat`. I'm a system administrator at an ISP and I use `dstat` every day to monitor the health of my servers. My voice probably holds very little weight in this conversation (compared to @dagwieers) but to put in my two cents here.

If the [primary reason](https://fedoraproject.o

[2019-01-17 16:36] dagwieers commented on #156
@scottchiefbaker Of course not. The Fedora team has been played, they were promised a drop-in replacement with only additional benefits, but instead people get the PCP suite installed for free and some plugins won't work (i.e. the top-plugins are missing).

[2019-01-17 16:38] scottchiefbaker commented on #156
For the record, I do think PCP stuff is cool, and definitely has it's uses.

Personally I enjoy the simplicity and ease of use of `dstat`. I'm not trashing PCP, or even `pcp-dstat`, there is room for both. Preferably not with the same conflicting and confusing name though.

[2019-01-17 16:42] scottchiefbaker opened #163 "Release a version of dstat with Python 3 support"
I just want to create a placeholder issue for discussing the future of dstat with support for Python 3.

The primary reason that `dstat` was removed from the Fedora repos was [lack of python3 support](https://fedoraproject.org/wiki/Changes/MergeDstatAndPerformanceCoPilot#Detailed_Description). @dagwieers has done some initial work on this and has already landed enough changes to get `dstat` runnin

[2019-01-17 23:11] natoscott commented on #156
@dagwieers @scottchiefbaker good morning!

Hmm, this work on a new dstat seems to have invoked some emotional responses - I apologise unreservedly, and state again - not my intention here.  I, like you Scott (and surely Dag too), am a fan of dstat and have enjoyed adding these new features to a very solid tool.  The old dstat certainly lives on in the new dstat if you look through the code.

| | T

[2019-01-18 00:55] dagwieers commented on #156
After all is said and done, there are a few things that don't sound right.

- I don't mind you create a pcp-dstat (like you do for pcp-vmstat, pcp-iostat, etc.), I am all for diversity, but replacing a package and a command with a complete suite is the wrong thing to do. And again it feels like you're using Dstat's popularity to bring in your own suite of tools.
- pcp-dstat is not a drop-in replac

[2019-01-18 04:07] natoscott commented on #156
@dagwieers hi!

I think we're going round in circles on these topics Dag, and are unlikely to change each others thinking.

Let me just end by saying if I thought there was value in doing so I could have pointed you toward our python3 code - we largely did the same python3 port when building the new dstat of course.  However, reading bug reports like this one and others like it, and all the unackn

[2019-02-19 09:40] eMPee584 commented on #120
this patch works very well, never run into a problem with it — thanks @o9000 !

Apart from tmux, firefox also seems affected: https://www.reddit.com/r/firefox/comments/as64ux/firefox_the_browser_that_never_forgets_except/ ..
@dagwieers : how about applying this fix and releasing a new version soonish? :smiley:

[2019-02-22 08:55] zwieberl commented on #150
Just to add a voice here: This is exactly what I would love to have as well!

[2019-03-08 19:09] scottchiefbaker opened #166 "Master branch throws an error when you try and use a delay"
On the master branch when I attempt to add 15 on the end of my command I get a Python error:

    bakers@snikt(/tmp/dstat-master)
    :./dstat --all --load --time --bits 15
    Traceback (most recent call last):
    File "./dstat", line 2825, in <module>
        main()
    File "./dstat", line 2684, in main
        scheduler.run()
    File "/usr/lib64/python2.7/sched.py", line 117, in run

[2019-04-03 18:10] bmurphy1976 commented on #118
We've migrated every tool we use to Python3, dstat is the only one left. What's the popen3 issue?  I might be able to help but I don't know where to start.

[2019-04-10 11:26] zviratko commented on #38
Just came here to open a bug and found this issue

When it comes to CPU load, interpretation of red=bad or green=good is of course dependant on what one expects - if I wanted to run computations then 0% CPU usage would in fact be bad.
But when it comes to disk statistics for example, surely 100% disk utilization should be in red by default and not green - one might argue it's the same thing, but f

[2019-05-07 13:00] massimosala opened #169 "linux 2.6, dstat --mem not working"
##### SUMMARY
linux 2.6, dstat --mem not working:
File "/opt/packages/dstat-0.7.3/dstat", line 1332, in extract
self.val['MemUsed'] = adv_val['MemTotal'] - self.val['MemFree'] - self.val['Buffers'] - self.val['Cached'] - adv_val['SReclaimable'] + adv_val['Shmem']
KeyError: 'SReclaimable'

##### ISSUE TYPE
 - Bug Report

##### DSTAT VERSION
Dstat 0.7.3
Reading the source code, it seems to me it is

[2019-05-07 14:13] massimosala commented on #169
On the same linux 2.6.18, if I execute dstat --mem-adv it works.
The last two values are 0,  as expected, because on these kernel there aren't the two metrics.

Example:

So IMHO it was totally crap to add shmem and recl to --mem
Basic memory usage (--mem) should always works.
If we want the full metrics, we can use --mem-adv

[2019-05-20 11:16] praiskup commented on #118
There were some undefined problems to port this to both python2/python3, but now it should be fixed according to comments above in master branch.  FWIW, Fedora seems to be moving to pcp-dstat as the alternative implementation because of the python3 compat issues..

[2019-05-21 15:03] dagwieers commented on #118
@praiskup No, they moved to pcp-dstat because the author has its own agenda. If the issue was that this project was not compatible with Python 3, it took me 1 hour to make it work on Python 3.

They did not even contact us.

[2019-05-21 21:59] natoscott commented on #118
@praiskup current state of dstat is covered here: https://github.com/dagwieers/dstat/issues/156

Yes, the old dstat has been replaced with a reimplementation in Fedora and RHEL due to lack of maintenance on the original.  FWLIW, the new dstat has many new features beyond python3, see:

https://www.redhat.com/en/blog/implementing-dstat-performance-co-pilot

[2019-05-21 22:05] dagwieers commented on #118
@natoscott And it comes with quite a bagage. It's not just a python script you can drop on your Raspberry Pi or WRT router and run. If you make another product, give it another name IMO.

[2019-05-22 21:19] dagwieers commented on #118
Alright, let's bite the bullet.

Since I have zero interest to fight a multi-billion company who likes replacing commands with their own. And I have been in the same situation before and it didn't bring any joy. And since nobody is picking up the towel, let's end this project here.

So long, and thanks for all the fish.

[2019-05-22 21:22] scottchiefbaker commented on #118
:(

I use the original `dstat` every day. It's clear to me that the "new" PCP based dstat is not a good replacement for my use cases. Just because RedHat chose (wrongly) to replace `dstat` doesn't mean the tool is useless. It's still used (correctly) on a lot of other distros. I would really hate to see the project get abandoned because of bad actors at RedHat.

[2019-05-22 21:23] dagwieers opened #170 "So long and thanks for all the fish."
Since Red Hat decided to replace this utility with a complete framework and its own utility with the same name.

And since I have zero interest to fight a multi-billion company who likes replacing commands with their own. And I have been in the same situation before and it didn't bring any joy. And since nobody is picking up the towel, let's end this project here.

So long, and thanks for all the

[2019-05-22 21:28] #110 closed

[2019-05-22 21:28] #114 closed

[2019-05-22 21:28] #115 closed

[2019-05-22 21:28] #119 closed

[2019-05-22 21:28] #120 closed

[2019-05-22 21:28] #124 closed

[2019-05-22 21:28] #136 closed

[2019-05-22 21:28] #138 closed

[2019-05-22 21:28] #139 closed

[2019-05-22 21:28] #140 closed

[2019-05-22 21:28] #141 closed

[2019-05-22 21:28] #143 closed

[2019-05-22 21:28] #147 closed

[2019-05-22 21:28] #150 closed

[2019-05-22 21:28] #152 closed

[2019-05-22 21:28] #153 closed

[2019-05-22 21:28] #154 closed

[2019-05-22 21:28] #155 closed

[2019-05-22 21:28] #157 closed

[2019-05-22 21:28] #158 closed

[2019-05-22 21:28] #160 closed

[2019-05-22 21:28] #163 closed

[2019-05-22 21:28] #166 closed

[2019-05-22 21:28] #169 closed

[2019-05-22 21:29] #12 closed

[2019-05-22 21:29] #20 closed

[2019-05-22 21:29] #61 closed

[2019-05-22 21:29] #62 closed

[2019-05-22 21:29] #69 closed

[2019-05-22 21:29] #70 closed

[2019-05-22 21:29] #73 closed

[2019-05-22 21:29] #74 closed

[2019-05-22 21:29] #86 closed

[2019-05-22 21:29] #87 closed

[2019-05-22 21:29] #89 closed

[2019-05-22 21:29] #90 closed

[2019-05-22 21:29] #94 closed

[2019-05-22 21:29] #99 closed

[2019-05-22 21:29] #101 closed

[2019-05-22 21:29] #103 closed

[2019-05-22 21:29] #107 closed

[2020-04-24 03:04] rdp commented on #170
Thanks, love dstat!

[2020-04-25 18:53] 7ahery commented on #170
Such a bad news, Dstat is such a good tool and it could have been evolved to something quite amazing.

[2020-07-07 01:13] trinitronx commented on #170
😞 😩 Grr... after this and them killing off CoreOS I've had it with RedHat!  Sad to hear you're the latest casualty to their corporate tyranny 😢
At least we still have `pip` namespace, and hopefully Debian/Arch/Alpine distros won't clobber a utility name just for the sake of RedHat's decisions.

[2020-07-07 02:49] natoscott commented on #170
Good luck to you too Dag - I hope you're well.

If anyone would like to send bug reports, feature or pull requests to the Performance Co-Pilot version of dstat - the utility is named [pcp-dstat(1)](https://man7.org/linux/man-pages/man1/pcp-dstat.1.html) and can be found here:

https://github.com/performancecopilot/
https://github.com/performancecopilot/pcp/tree/master/src/pcp/dstat

[2020-07-07 05:25] trinitronx commented on #156
@natoscott :

This seems like perhaps there is a bit of [Anchoring effect][1] here? (Could have also been a bit of [confirmation bias][5], [status-quo bias][6], and/or [system justification bias][7] sprinkled in?... <sup>a dash here... a dash there 🤪 🤣</sup>).  <sub>Note: nothing intended here other than to gather attention to the hidden subconscious and unconscious forces that affect all human be

[2020-10-16 14:47] G2G2G2G commented on #170
https://www.redhat.com/en/blog/implementing-dstat-performance-co-pilot

Looks like it's the same project, so not really bad news. Makes sense since it wasn't maintained and moved to python3 for years.  You can see the release for python3 support on this repo came after redhat announced their fork to add it. So that's in truth what happened.. dev didn't want to update, so someone else did.
It's goo

[2020-11-25 15:24] bronger commented on #170
A release which was done on the hoof, by the way. The current Ubuntu version of dstat seems to base on it – unfortunately.